{% extends "base.html" %}

{% block content %}
    <div>
        <a href="{{ url_for('search', lang="python") }}">Python</a>
        <a href="{{ url_for('search', lang="javascript") }}">JavaScript</a>
        <a href="{{ url_for('search', lang="java") }}">Java</a>
        <a href="{{ url_for('search', lang="csharp") }}">C#</a>
        <a href="{{ url_for('search', lang="swift") }}">Swift</a>
        <a href="{{ url_for('search', lang="haskell") }}">Haskell</a>
        <a href="{{ url_for('search', lang="php") }}">PHP</a>
        <a href="{{ url_for('search', lang="ruby") }}">Ruby</a>
        <a href="{{ url_for('search', lang="dart") }}">Dart</a>
        <a href="{{ url_for('search', lang="cobol") }}">Cobol</a>
    </div>

{% endblock %}