{% extends "base.html" %}

{% block content %}
    <h1>Github repos per language with the most stars.</h1>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <a href="{{ url_for('search', lang=list_db[0]) }}"><button type="button" class="btn btn-primary">1.{{ list_db[0] }}</button></a>
            </div>
            <div class="col-sm">
                <a href="{{ url_for('search', lang=list_db[1]) }}"><button type="button" class="btn btn-primary">2.{{ list_db[1] }}</button></a>
            </div>
            <div class="col-sm">
                <a href="{{ url_for('search', lang=list_db[2]) }}"><button type="button" class="btn btn-primary">3.{{ list_db[2] }}</button></a>
            </div>
            <div class="col-sm">
                <a href="{{ url_for('search', lang=list_db[3]) }}"><button type="button" class="btn btn-primary">4.{{ list_db[3] }}</button></a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <a href="{{ url_for('search', lang=list_db[4]) }}"><button type="button" class="btn btn-secondary">5.{{ list_db[4] }}</button></a>
            </div>
            <div class="col-sm">
                <a href="{{ url_for('search', lang=list_db[5]) }}"><button type="button" class="btn btn-secondary">6.{{ list_db[5] }}</button></a>
            </div>
            <div class="col-sm">
                <a href="{{ url_for('search', lang=list_db[6]) }}"><button type="button" class="btn btn-secondary">7.{{ list_db[6] }}</button></a>
            </div>
            <div class="col-sm">
                <a href="{{ url_for('search', lang=list_db[7]) }}"><button type="button" class="btn btn-secondary">8.{{ list_db[7] }}</button></a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <a href="{{ url_for('search', lang=list_db[8]) }}"><button type="button" class="btn btn-warning">9.{{ list_db[8] }}</button></a>
            </div>
            <div class="col-sm">
                <a href="{{ url_for('search', lang=list_db[9]) }}"><button type="button" class="btn btn-warning">10.{{ list_db[9] }}</button></a>
            </div>
            <div class="col-sm">
                <a href="{{ url_for('search', lang=list_db[10]) }}"><button type="button" class="btn btn-warning">11.{{ list_db[10] }}</button></a>
            </div>
            <div class="col-sm">
                <a href="{{ url_for('search', lang=list_db[11]) }}"><button type="button" class="btn btn-warning">12.{{ list_db[11] }}</button></a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <a href="{{ url_for('search', lang=list_db[12]) }}"><button type="button" class="btn btn-success">13.{{ list_db[12] }}</button></a>
            </div>
            <div class="col-sm">
                <a href="{{ url_for('search', lang=list_db[13]) }}"><button type="button" class="btn btn-success">14.{{ list_db[13] }}</button></a>
            </div>
            <div class="col-sm">
                <a href="{{ url_for('search', lang=list_db[14]) }}"><button type="button" class="btn btn-success">15.{{ list_db[14] }}</button></a>
            </div>
            <div class="col-sm">
                <a href="{{ url_for('search', lang=list_db[15]) }}"><button type="button" class="btn btn-success">16.{{ list_db[15] }}</button></a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <a href="{{ url_for('search', lang=list_db[16]) }}"><button type="button" class="btn btn-dark">17.{{ list_db[16] }}</button></a>
            </div>
            <div class="col-sm">
                <a href="{{ url_for('search', lang=list_db[17]) }}"><button type="button" class="btn btn-dark">18.{{ list_db[17] }}</button></a>
            </div>
            <div class="col-sm">
                <a href="{{ url_for('search', lang=list_db[18]) }}"><button type="button" class="btn btn-dark">19.{{ list_db[18] }}</button></a>
            </div>
            <div class="col-sm">
                <a href="{{ url_for('search', lang=list_db[19]) }}"><button type="button" class="btn btn-dark">20.{{ list_db[19] }}</button></a>
            </div>
        </div>
    </div>

{% endblock %}